/*
  Name: Kade Hasenfus
  Email Address: Kade_Hasenfus@student.uml.edu
  Affliation: University of Massachusetts Lowell Computer Science Major
  File: cs.uml.edu/~khasenfu/
  COMP.4610-201 (91.61) GUI Programming I Assignment: Bootstrap
  Copyright © October 20th 2020 by Kade Hasenfus. All rights reserved. May be
  freely copied or excerpted for educational purposes with credit to the author.
  Sources: https://www.w3schools.com/, https://getbootstrap.com/.
  Website last Updated: 10/28/21
*/
.fixed-top {
  background-color: red;
}

body {
  background-color: #333333;
}

.container {
  background-color: #333333;
  min-width: 70%;
  max-width: 85%;
}

#mainContainer, #mainContainer h2{
  font-size: 150%;
}

.nav {
  margin-bottom: 100px;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    height:auto;
    color: black;
    border-radius: 6px;
}

.jumbotron h1 {
  color: black;
  text-align: center;
  padding-top: 450px;
  padding-bottom: 300px;

}

.jumbotron h2 {
  padding-top: 75px;
  padding-left: 12px;
}

.jumbotron p {
  padding: 50px;
}


#landing, #pets {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 0%,rgba(128, 128, 128, 0.5) 100%), url(../images/landing.jpg);
}

#aboutPage, #directoryJumbo, .card {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 0%,rgba(128, 128, 128, 0.5) 100%), url(../images/code.png);
}

#aboutMe {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 0%,rgba(128, 128, 128, 0.5) 100%), url(../images/swim.png);
}
