/*
  Name: Kade Hasenfus
  Email Address: Kade_Hasenfus@student.uml.edu
  Affliation: University of Massachusetts Lowell Computer Science Major
  File: cs.uml.edu/~khasenfu/
  COMP.4610-201 (91.61) GUI Programming I Assignment: Multiplication table
  Copyright © October 20th 2020 by Kade Hasenfus. All rights reserved. May be
  freely copied or excerpted for educational purposes with credit to the author.
  Sources: https://www.w3schools.com/, https://getbootstrap.com/
*/

/*styles the body*/
body {
  background-color: #130129;
  color: gray;
}

/*styles containers*/
.container {
  padding-top: 50px;
  background-color: #2e0a1b;
  min-width: 70%;
  max-width: 85%;
}

/*styles nav*/
.nav {
  margin-bottom: 100px;
}

/*puts footer in correct place*/
footer {
  bottom:0;
  padding-bottom: 10px;
  margin-left: 1%;
}

#Rack {
    background-image: url("scrabble-tile-holder-406774_640.png");
    background-repeat: no-repeat;
    width: 550px;
    height: 150px;
    margin-top: 50px;
    padding-left: 0px;
  }

  .tile{
     position: relative;
     width: 65px;
     height: 66px;
     margin: 1px;
     float: left;
  }

  #currentHand {
      padding-bottom: 1000px;
      margin-left: 50px;
    }
